@model ManagerHotel.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType.Name)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId }) |
    @Html.ActionLink("Back to List", "ListService")*@
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = Model.ServiceId })'">Edit</button>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ListService")'">Back to List</button>
</p>
